.texto{

    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: aqua;
    background-color: royalblue;

}
img{

    width: 250px;
    height: 250px;

}

img:not(:hover){

    opacity: 0.3;

}

img:hover{

    scale: 1.1;

}